@{
    ViewBag.Title = "Przyjęcia/Wydania";
}

<div class="text-center m-2">
    <a asp-action="ShowActivities" asp-route-activityType="Admission" class="btn btn-secondary">Przyjęcie na magazyn</a>
    <a asp-action="ShowActivities" asp-route-activityType="Shipment" class="btn btn-secondary">Wydanie z magazynu</a>
</div>