@{
    ViewBag.Title = "Przyjęcia/Wydania";
}

<div class="text-center m-2">
    <a asp-action="Admissions" class="btn btn-secondary">Przyjęcie na magazyn</a>
    <a asp-action="Shipments" class="btn btn-secondary">Wydanie z magazynu</a>
</div>